@model Wardrobe_MVC.Models.Bottom

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2><br />

<div>
    <h4><span class="label-success">Bottom</span></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BottomName): <br />
            @Html.DisplayFor(model => model.BottomName)<br />
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.BottomType): <br />
            @Html.DisplayFor(model => model.BottomType)<br />
        </dt>

       <dt>
            @Html.DisplayNameFor(model => model.BottomColor):<br />
           @Html.DisplayFor(model => model.BottomColor)<br />
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.BottomSeason): <br />
            @Html.DisplayFor(model => model.BottomSeason)<br />
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.BottomOccasion)<br />
            @Html.DisplayFor(model => model.BottomOccasion)<br />
        </dt>

    </dl>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BottomID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
