@model IEnumerable<Wardrobe_MVC.Models.Bottom>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add Bottom", "Create")
</p>


@foreach (var item in Model)
{
    <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>@Html.DisplayFor(modelItem => item.BottomName)</h3>  @*For each Iteration Title Appears*@
                <img style="width: 230px; height: 230px;" src="@Html.DisplayFor(modelItem => item.BottomPhoto)" />

                @*<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>*@
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BottomID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BottomID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BottomID })
                </p>
            </div>
        </div>
    </div>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BottomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BottomPhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BottomType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BottomColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BottomSeason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BottomOccasion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BottomName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BottomPhoto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BottomType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BottomColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BottomSeason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BottomOccasion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BottomID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BottomID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BottomID })
        </td>
    </tr>
}

</table>*@
