@model IEnumerable<Wardrobe_MVC.Models.Top>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add Top", "Create")
</p>


@foreach (var item in Model)
{
    <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>@Html.DisplayFor(modelItem => item.TopName)</h3>  @*For each Iteration Title Appears*@
                <img style="width: 230px; height: 230px;" src="@Html.DisplayFor(modelItem => item.TopPhoto)" />

                @*<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>*@
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TopID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TopID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TopID })
                </p>
            </div>
        </div>
    </div>
}
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopPhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopSeason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopOccasion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopSeason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopOccasion)
        </td>
        <td>
            
        </td>
    </tr>
}

</table>*@
