@model Wardrobe_MVC.Models.Shoe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<br />

<div>
    <h4><span class="label-success">Shoe</span></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShoeName): <br />
            @Html.DisplayFor(model => model.ShoeName)<br />
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.ShoeType):<br />
            @Html.DisplayFor(model => model.ShoeType)<br />
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.ShoeColor): <br />
            @Html.DisplayFor(model => model.ShoeColor)<br />
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.ShoeSeason): <br />
            @Html.DisplayFor(model => model.ShoeSeason)<br />
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.ShoeOccasion): <br />
            @Html.DisplayFor(model => model.ShoeOccasion)<br />
        </dt>
    </dl>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShoeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
