@model IEnumerable<Wardrobe_MVC.Models.Shoe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add Shoes", "Create")
</p>


@foreach (var item in Model)
{
    <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>@Html.DisplayFor(modelItem => item.ShoeName)</h3>  @*For each Iteration Title Appears*@
               <img style="width: 230px; height: 230px;"src="@Html.DisplayFor(modelItem => item.ShoePhoto)" />
                
                @*<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>*@
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ShoeID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ShoeID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ShoeID })
                </p>
            </div>
        </div>
    </div>
}

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShoeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShoePhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShoeType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShoeColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShoeSeason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShoeOccasion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShoeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShoePhoto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShoeType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShoeColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShoeSeason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShoeOccasion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShoeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShoeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShoeID })
        </td>
    </tr>
}

</table>*@
